{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Mon compte</h1>
    Bienvenue {{ app.user.firstname }} !
    <br>

    <button id="open-modal">Ajouter une tache</button>
    <div id="modal" class="modal mgt-5 w-7-10 h-8-10">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Titre de la modale</h2>
            <p>Contenu de la modale </p>
            {{ form_start(form) }}
            {{ form_widget(form) }}
        </div>
    </div>
    {% block javascripts %}
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                var modal = document.getElementById("modal");
                modal.style.display = "none";
                var btn = document.getElementById("open-modal");
                var span = document.getElementsByClassName("close")[0];

                // Fonction pour ouvrir la modale
                function openModal() {
                    modal.style.display = "block";


                }

                // Fonction pour fermer la modale
                function closeModal() {
                    modal.style.display = "none";
                    document.body.style.backgroundColor = "initial";
                }

                // Ajoute l'événement pour ouvrir la modale
                btn.onclick = function() {
                    openModal();
                }

                // Ajoute l'événement pour fermer la modale
                span.onclick = function() {
                    closeModal();
                }

                // Ferme la modale si l'utilisateur clique en dehors du contenu
                window.onclick = function(event) {
                    if (event.target == modal) {
                        closeModal();
                    }
                }
            });



        </script>
    {% endblock %}
{% endblock %}

