{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des tâches</h1>

    <table>
        <thead>
        <tr>

            <th>Nom</th>
            <th>Description</th>
            <th>Date</th>
            <th>Terminé</th>
        </tr>
        </thead>
        <tbody id="task-list">
        </tbody>
    </table>

    <form id="add-task-form">
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit">Ajouter</button>
    </form>

{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Récupération de la liste des tâches
            $.ajax({
                url: "{{ path('api_task_list') }}",
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    $.each(data, function(key, task) {
                        var row = '<tr>' +
                            '<td>' + task.nom + '</td>' +
                            '<td>' + task.description + '</td>' +
                            '<td>' + task.date + '</td>' +
                            '<td>' + (task.completed ? 'Oui' : 'Non') + '</td>' +
                            '</tr>';

                        $('#task-list').append(row);
                    });
                }
            });

            // Ajout d'une tâche
            $('#add-task-form').on('submit', function(e) {
                e.preventDefault();

                var formData = $(this).serialize();
                console.log(formData);
                $.ajax({
                    url: "{{ path('api_task_create') }}",
                    type: 'POST',
                    data: formData,
                    success: function(data) {
                        console.log('Tâche ajoutée !');
                    }
                });
            });
        });
    </script>
{% endblock %}
