.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}

@for $i from 0 through 50 {
  .top-#{$i} {
    top: $i * 1rem;
  }

  .bottom-#{$i} {
    bottom: $i * 1rem;
  }

  .left-#{$i} {
    left: $i * 1rem;
  }

  .right-#{$i} {
    right: $i * 1rem;
  }
}

@for $i from 1 through 10 {
  .z-#{$i} {
    z-index: $i;
  }

}