.modal {
  display: none;
  width: 100%;
  overflow-y: scroll;
  height: 100%;
  top: 0;
  position: absolute;
  z-index:1;

  border: 1px solid black;
  background-color: white;
  margin: 0 auto;


  .modal-content {
    background-color: #fefefe;


    width: 80%;


    .close {
      color: white;
      float: right;
      font-size: 28px;
      font-weight: bold;
      z-index:999;

      &:hover,
      &:focus {
        color: white;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}
